#chatpage {
  display: flex;
  font-family: "Inter";
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  overflow: hidden;
}

.chat-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.chat-messages {
  background-color: darkgrey;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  background-color: #e5e5f7;
  background-image: radial-gradient(circle at center center, darkgrey, black),
    repeating-radial-gradient(
      circle at center center,
      grey,
      grey,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}

.message-container {
  margin-bottom: 20px;
}

.sender {
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  width: fit-content;
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.chat-input {
  background-color: #333;
  padding: 10px;
}

form {
  display: flex;
}

input[type="text"] {
  flex-grow: 1;
  min-width: 40px;
  padding: 10px;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5vw;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #222;
}

.user-display {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  overflow-y: scroll;
}

.user-display > .rename {
  margin-bottom: 5vh;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.status {
  color: green;
  font-size: 18px;
  margin-bottom: 20px;
}
