<section id="chatpage">
  <div class="chat-container">
    <div class="chat-header">Anonychat!</div>
    <div class="chat-messages">
      <div *ngFor="let msg of msgs" class="message-container">
        <p class="sender">{{ msg.owner }}</p>
        <div class="message">{{ msg.content }}</div>
      </div>
    </div>
    <div class="chat-input">
      <form #f="ngForm">
        <input
          type="text"
          name="messenger"
          placeholder="Enter your message..."
          [(ngModel)]="msg"
          required=""
        />
        <button type="submit" (click)="f.valid && submit()">Send</button>
      </form>
    </div>
  </div>
  <div class="user-display">
    <div class="rename">
      Name:
      <input type="text" name="name" [(ngModel)]="name" (change)="rename()" />
    </div>
    <div class="username">Online Users</div>
    <div *ngFor="let online of onlineList" class="status">
      {{ online }}
    </div>
  </div>
</section>
