<section id="chatpage">
  <div class="chat-container">
    <div class="chat-header">Anonychat!</div>
    <div class="chat-messages">
      <div *ngFor="let msg of msgs" class="message-container">
        <p class="sender">{{ msg.owner }}</p>
        <div class="message">
          {{ msg.content }}
          <img
            *ngIf="msg.image"
            class="msgImg"
            src="data:image/*;base64,{{ msg.image }}"
          />
        </div>
      </div>
    </div>
    <div class="chat-input">
      <form #f="ngForm">
        <input
          type="text"
          name="messenger"
          placeholder="Enter your message..."
          [(ngModel)]="msg"
          required=""
        />
        <button type="submit" (click)="f.valid && submit()">Send</button>
        <div>
          <input
            type="file"
            style="display: none"
            accept="image/*"
            (change)="onFileSelected($event)"
            #fileUpload
          />
          <div class="file-upload">
            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="user-display">
    <div class="rename">
      Name:
      <input
        type="text"
        name="name"
        [placeholder]="placename"
        [(ngModel)]="name"
        (change)="rename()"
      />
    </div>
    <div class="username">Online Users</div>
    <div
      #status
      *ngFor="let online of onlineList"
      [class]="activeList.includes(online.id) ? 'notify' : 'status'"
      (click)="dmOpen(online.id)"
    >
      {{ online.name }}
      <svg
        *ngIf="status.classList.contains('notify')"
        xmlns="http://www.w3.org/2000/svg"
        style="fill: inherit"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          d="M21 0h-18l-3 13 2 11h20l2-11-3-13zm-16.409 2h14.818l2.308 10h-4.717l-2.25 3h-5.5l-2.25-3h-4.7170000000000005l2.308-10z"
        />
      </svg>
    </div>
  </div>
</section>
<div *ngIf="dmBox" class="dmBox">
  <div class="box">
    <div class="chat-messages">
      <div
        *ngFor="let msg of dmsgs"
        [class]="'message-container' + (dmTarget == msg.id ? '' : ' right')"
      >
        <p class="sender">{{ msg.owner }}</p>
        <div class="message">{{ msg.content }}</div>
      </div>
    </div>
    <div class="chat-input">
      <form #f2="ngForm">
        <input
          type="text"
          name="messenger"
          placeholder="Enter your message..."
          [(ngModel)]="dmsg"
          required=""
        />
        <button type="submit" (click)="f2.valid && dm()">Send</button>
        <button (click)="dmBox = false">Exit</button>
      </form>
    </div>
  </div>
</div>
