#chatpage {
  display: flex;
  font-family: "Inter";
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  overflow: hidden;
}

.chat-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.chat-messages {
  background-color: darkgrey;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  background-color: #333;
  background-blend-mode: multiply;
}

.message-container {
  margin-bottom: 20px;
}

.sender {
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  width: fit-content;
  background-color: gray;
  color: white;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #333;
  opacity: 1;
  background-image: linear-gradient(135deg, #222 25%, transparent 25%),
    linear-gradient(225deg, #222 25%, transparent 25%),
    linear-gradient(45deg, #222 25%, transparent 25%),
    linear-gradient(315deg, #222 25%, #333 25%);
  background-position: 8px 0, 8px 0, 0 0, 0 0;
  background-size: 8px 8px;
  background-repeat: repeat;
}

.chat-input {
  background-color: #222;
  padding: 10px;
}

form {
  display: flex;
}

input[type="text"] {
  flex-grow: 1;
  min-width: 40px;
  padding: 10px;
  border: none;
  outline: none;
}

button[type="submit"] {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5vw;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #111;
}

.user-display {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  overflow-y: scroll;
}

.user-display > .rename {
  margin-bottom: 5vh;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.status {
  color: green;
  font-size: 18px;
  margin-bottom: 20px;
}
